@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <p>Your email address is @ViewBag.CurrentUser.Email</p>
    <p>Welcome,@ViewBag.CurrentUser.UserName</p>
    <p>Welcome,@ViewBag.CurrentUser.PhoneNumber</p>
    <p>Welcome,@ViewBag.CurrentUser.Address</p>
}
else
{
    <p>Please sign in to view this page.</p>
}